body{
    background-image: url("../img/encabezado.png");
    color: floralwhite;
}
header{
    max-width: 92%;
    margin: auto;
    
}
#header{
    float: right;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol{
    list-style: none;
}
.nav li a {
    color: floralwhite;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: lightsalmon;
}
.nav > li{
    float: left;
}
.nav li ul {
    display: none ;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav a{
    border: solid 1px;
}


/*
.content{
    max-width: 92%;
    margin: auto;
}
.content-section{
    width: 860px;
    background-color: floralwhite;
    display: inline-block;
    height: 80%;
    color: black;
}
aside{
    width: 270px;
    display: inline-block;
    position: absolute;
    margin: auto;
    height: 70%;

    /*top: 0px;
    right: 0px;
    width: 23%;*/
}


footer{
    background-color: aqua;
    max-width: 92%;
    margin: auto;
}

*{
    padding:2px;
}




